html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

a {
    color: #2e72a1;
}

#logo {
    max-height: 300px;
    border-radius: 100%;
}
.project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    width: 70px;
    padding-right: 25px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background: url(https://cdn.shopify.com/s/files/1/0565/7080/6458/collections/marble-geometry-wallpaper-mural.jpg?v=1660198030);
    color: #555555;
}

.bg-2 {
    background: linear-gradient(90deg, );
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    /* background: linear-gradient(#CD93C7, #979DF1); */
    background: url(https://i.pinimg.com/originals/00/ea/a2/00eaa28424ca193dd9b3d1da239fb0c4.jpg);
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}
.word {
    color: black;
}
.white {
    background-color: white;
}